.qualification {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: #18181a;
}

.tourName {
  padding-bottom: 10px;
}