.tournament {
  padding-top: 20px;
  padding-bottom: 20px;
}

.tournament > button {
  color: #000;
}

.tournamentStage {
  gap: 50px;
}

.tournamentPlayOff {
  justify-content: center;
}
