*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
}

h2 {
  font-size: 22px;
}

p,
b {
  background-color: transparent;
}

b {
  cursor: default;
}

input {
  all: unset;
}

input:disabled {
  cursor: default;
}

button {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.center {
  padding-left: calc(50% - 900px);
  padding-right: calc(50% - 900px);
}

.App {
  background-color: #111112;
}

.App__wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App__wrapper-top {
  flex-grow: 1;
  position: relative;
}
