.groupRow {
  height: 35px;
  display: flex;
  align-items: center;
}

.groupRow:first-child span {
  font-size: 14px;
  color: #808081;
}

.groupRow:not(:last-child):not(:first-child) {
  border-bottom: 1px solid #343436;
}

.groupTeamCount {
  width: 40px;
  text-align: center;
}

.groupTeamName {
  width: 200px;
}

.groupTeamStat {
  width: 40px;
  text-align: center;
}

.groupTeamPoints {
  width: 55px;
  text-align: center;
}

.groupTeamLastGames {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 10px;
}

.dash {
  position: relative;
  top: -2px;
  padding: 0 2px;
}
